:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* elementPlus 修改 */
  --el-menu-level-padding: 0px;

}

body {
  margin: 0;
  padding: 0;
}

#app {
  margin: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-align-center {
  height: 100%;
  display: flex;
  align-items: center;
}

.flex-d-r {
  flex-direction: row;
}

.flex-d-c {
  flex-direction: column;
}

.flex-jc-sb {
  justify-content: space-between;
}

@base-size: 2; // 生成样式的基数
@max-size: 32; // 生成的最大值
.generate(@class, @attribute) {
  .loop(@n) when (@n <= @max-size) {
    .@{class}-@{n} {
        @{attribute}: 1px * @n !important;
    }
    .loop(@n + @base-size);
  }
  .loop(0)
}

.generate(m-t, margin-top);
.generate(m-b, margin-bottom);
.generate(m-l, margin-left);
.generate(m-r, margin-right);
.generate(p-t, padding-top);
.generate(p-b, padding-bottom);
.generate(p-l, padding-left);
.generate(p-r, padding-right);


/*a {*/
/*    font-weight: 500;*/
/*    color: #646cff;*/
/*    text-decoration: inherit;*/
/*}*/
/*a:hover {*/
/*    color: #535bf2;*/
/*}*/

/*body {*/
/*    margin: 0;*/
/*    display: flex;*/
/*    place-items: center;*/
/*    min-width: 320px;*/
/*    min-height: 100vh;*/
/*}*/

/*h1 {*/
/*    font-size: 3.2em;*/
/*    line-height: 1.1;*/
/*}*/

/*button {*/
/*    border-radius: 8px;*/
/*    border: 1px solid transparent;*/
/*    padding: 0.6em 1.2em;*/
/*    font-size: 1em;*/
/*    font-weight: 500;*/
/*    font-family: inherit;*/
/*    background-color: #1a1a1a;*/
/*    cursor: pointer;*/
/*    transition: border-color 0.25s;*/
/*}*/
/*button:hover {*/
/*    border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*    outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

/*.card {*/
/*    padding: 2em;*/
/*}*/

/*#app {*/
/*    !*max-width: 1280px;*!*/
/*    margin: 0 auto;*/
/*    !*padding: 2rem;*!*/
/*    text-align: center;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*}*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
